header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:400px;
  width:100vw;
  margin-top: 115px;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@media  screen and (min-width:768px) {
  header{
  margin: 180px 115px;
  }
}